@model UBOnlineWebApiTest2.Models.Assignment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Assignment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.courseId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.courseId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fileId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fileId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.stuName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.stuName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.submitted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.submitted)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.grade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.grade)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
