@model UBOnlineWebApiTest2.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.courseId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.courseId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.courseName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.courseName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.proName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.courseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
