@model UBOnlineWebApiTest2.Models.Announcement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Announcement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.annId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.annId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.courseId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.courseId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.annType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.annType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.annId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
