@model IEnumerable<UBOnlineWebApiTest2.Models.Register>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finalGrade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finalGrade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.regId }) |
            @Html.ActionLink("Details", "Details", new { id=item.regId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.regId })
        </td>
    </tr>
}

</table>
